.information {
    width: 350px;
    height: 350px;
    padding: 1rem;
    ;

    .information__title,
    .information__social {
        text-align: center;
        text-transform: uppercase;
        color: $textcolor;

    }

    .information__description {
        text-align: center;
        color: $textcolor;
        font-size: 17px;
        text-transform: none;
        margin-top: 30px;
    }

    .information__link {
        text-align: center;
        font-size: 15px;
    }

    @media #{$small-and-down} {
        display: block;
        position: unset;
        left: 0;
        top: 0;
        transform: unset;
        width: 100%;
        height: auto;
    }
}