.information{
    position: absolute;
    top: 50%;
    left: 25%;
    width: 350px;
    max-width: none;
    height: 350px;
    padding: 1rem;
    transform: translateY(-50%);
    background: $background;
    color: $gold;
    transition: all ease-in .3s;
    z-index: 89;
    border: 1px solid $borderGrey;
    box-shadow: 3px 3px 0px $shadowGrey;
    border-radius: 3px;
    &:hover{
        transform: translateY(-50%) scale(1.05);
    }
    .information__title, .information__social{
        text-align: center;
        text-transform: uppercase;
    }
    .information__description{
        text-align: center;
        color: $textcolor;
        font-size: 17px;
        text-transform: none;
        margin-top: 30px;
    }
    .information__link{
        text-align: center;
        font-size: 15px;
    }
    @media #{$small-and-down} {
        display: block;
        position: unset;
        left: 0;
        top: 0;
        transform: unset;
        width: 100%;
        height: auto;
    }
}