html,
body {
    margin: 0;
}

body {
    background: $background;
    color: $textcolor;
    font-family: $fontbase;
}

section {
    padding: 62px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;

    &.--column {
        flex-direction: column;
        flex-wrap: wrap;
    }

    &.--row {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section__title__background {
        font-size: 4rem;
        text-align: left;
        left: 0;
        margin: 0;
        color: $secondary;
        width: 100%;
    }

    .section__title__decorator {
        background: $lightBlue;
        border: 1px solid $blue;
        box-shadow: 3px 4px 0px $blue;
        width: 60%;
        margin-bottom: 40px;

        @media #{$small-and-down} {
            width: 100%
        }
    }

    .section__divider {
        display: inline-block;
        color: $secondary;
        background: $darkBlue;
        font-family: $fontparag;
        font-size: 2rem;
        padding: 3px 10px;
        border: 2px solid $secondary;
        margin: 20px 0px;
    }

    @media #{$small-screen-portrait-and-down} {
        padding: 30px 10px;
        overflow: hidden;
        height: 100%;

        .section__title__background {
            font-size: 4rem;
            color: $secondary;
            position: relative;
        }
    }
}

h1 {
    font-size: 3.75rem;
    margin: 0.67em 0 0 0;

}

h2 {
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: $fontparag;
    font-weight: 400;
}

p {
    font-family: $fontparag;
    font-size: 1.24rem;
    letter-spacing: 1.5px;
    word-break: break-word;
}

a {
    background: $goldgradient;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 300%;
    text-decoration: none;
    background-position-x: 0%;
    transition: background 6s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    will-change: background, letter-spacing;

    &:hover {
        background-position-x: -150%;
    }

    &.--list {
        font-family: $fontbase;
        font-size: 1.45rem;
        line-height: 2.45rem;

        &:hover {
            border-bottom: 5px solid $gold;
        }
    }

    .tag {
        border: 2px solid transparent;
        border-radius: 3px;
        text-align: center;
        background: $darkBlue;
        color: $primary;
        letter-spacing: 1px;
        -webkit-text-fill-color: white;
        padding: 0px 5px;
        font-family: $fontparag;
        font-size: 15px;
        text-transform: uppercase;
    }

    @media #{$small-and-down} {
        background: none;
        color: $gold;
        -webkit-text-fill-color: $gold;
    }
}

.social {
    a {
        margin-right: 10px;
    }
}