@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slide{
    width: 543px;
    height: 305px;
    margin: 0 100px;
    background-position: center center;
    background-size: cover;
    transition: all .5s;
    .slide__overlay{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background: $overlay;
        .slide__overlay__span{
            background: $gold;
            font-size: 30px;
            margin-left: -100px;
            max-width: 70%;
            font-family: $fontbase;
        }
    }
    @media #{$small-and-down} {
        width: 95%;
        height: auto;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: initial;
        .slide__overlay{
            padding-top: 53%;
            padding-bottom: 40px;
            background: transparent;
            height: auto;
            .slide__overlay__span{
                margin: 0px;
                max-width: 100%;
            }
        }
    }
}