$primary:              #282828;
$secondary:            #eef2f5;
$orange:               #FF5C3B;
$pink:                 #FF2B67;
$violet:               #7b4397;
$red:                  #dc2430;


$background:           $primary;
$textcolor:            $secondary;

$fontbase:             'Roboto', sans-serif;
$fontparag:            'Roboto Mono', monospace;
